# Pandas ile veri manipulasyonu

## Pandas giris:  Dataframelerde temel manipulasyonlar: siralama, secme/filtreleme ve yeni kolon ekleme

In [167]:
import pandas as pd
df = pd.read_pickle("homeless_data.pkl")

1. .head()   .info()     metodlarini df e uygulayiniz, print ile yazdiriniz

In [12]:
# head 
print(df.head())

# info
print(df.info())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
region            51 non-null object
state             51 non-null object
individuals       51 non-null float64
family_members    51 non-null float64
state_pop         51 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

2. .shape   .describe()    metodlarini df e uygulayiniz, print ile yazdiriniz

In [13]:
# shape 
print(df.shape)

# describe
print(df.describe())

(51, 5)
         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

3. .values    .columns    .index    metodlarini df e uygulayiniz, print ile yazdiriniz

In [168]:
# values  ile iki boyutlu numpy arrayi olaarak yazdiriniz
print(df.values)

# columns ile degisken(kolon) isimlerini bir baska degisle kolon index isimlerini yazdiriniz
print(df.columns)

#  index  ile gozlem(satir) numaralarini yazdiriniz
print(df.index)

[['East South Central' 'Alabama' 2570.0 864.0 4887681]
 ['Pacific' 'Alaska' 1434.0 582.0 735139]
 ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
 ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
 ['Pacific' 'California' 109008.0 20964.0 39461588]
 ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
 ['New England' 'Connecticut' 2280.0 1696.0 3571520]
 ['South Atlantic' 'Delaware' 708.0 374.0 965479]
 ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 ['Mountain' 'Idaho' 1297.0 715.0 1750536]
 ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
 ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
 ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
 ['West North Central' 'Kansas' 1443.0 773.0 2911359]
 ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
 ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
 ['New England' 'Maine' 1450.0 1066.0 1339057]
 ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
 ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
 ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
 ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
 ['Mountain' 'Montana' 983.0 422.0 1060665]
 ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
 ['Mountain' 'Nevada' 7058.0 486.0 3027341]
 ['New England' 'New Hampshire' 835.0 615.0 1353465]
 ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
 ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 ['West North Central' 'North Dakota' 467.0 75.0 758080]
 ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
 ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
 ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 ['New England' 'Rhode Island' 747.0 354.0 1058287]
 ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 ['West North Central' 'South Dakota' 836.0 323.0 878698]
 ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 ['West South Central' 'Texas' 19199.0 6111.0 28628666]
 ['Mountain' 'Utah' 1904.0 972.0 3153550]
 ['New England' 'Vermont' 780.0 511.0 624358]
 ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 ['Pacific' 'Washington' 16424.0 5880.0 7523869]
 ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 ['Mountain' 'Wyoming' 434.0 205.0 577601]]
Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')
Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

4. df.sort_values('variable_name')

In [17]:
# df i  individual degiskenine gore siralayiniz.  df_ind ile kaydediniz
df_ind = df.sort_values('individuals')

# df_ind  in ilk 5 gozlemini yazdiriniz
print(df_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

### df.sort_values('variable_name', ascending=False )

In [18]:
# df i family members degiskenine gore tersten siralayiniz.    df_fam adi ile kaydediniz 
# (ascending=duz=kucukten buyuge    descending=ters=buyukten kucuge)
df_fam = df.sort_values('family_members', ascending=False)

# df_fam in ilk 5 gozlemini yazdiriniz
print(df_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

6. df.sort_values(['variable_name1','variable_name2'], ascending=[False,False] )

In [172]:
# df i region degiskenine gore duz ve ayni zamanda family members degiskenine gore tersten siralayiniz.    
# df_reg_fam adi ile kaydediniz 
df_reg_fam = df.sort_values(['region','family_members'], ascending=[True, False])

# df_reg_fam in ilk 5 gozlemini yazdiriniz
print(df_reg_fam.head())

                region      state  individuals  family_members  state_pop
13  East North Central   Illinois       6752.0          3891.0   12723071
35  East North Central       Ohio       6929.0          3320.0   11676341
22  East North Central   Michigan       5209.0          3142.0    9984072
49  East North Central  Wisconsin       2740.0          2167.0    5807406
14  East North Central    Indiana       3776.0          1482.0    6695497

7. var = df['variable_name']

In [25]:
#  individuals  degiskenini seciniz ve individuals adi ile kaydediniz
individuals = df['individuals']

# individuals in ilk 5 gozlemini yazdiriniz
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

8. v1_v2 = df[['variable_name1','variable_name2']]

In [28]:
# state ve family_members degiskenlerini seciniz:   state_fam 
state_fam = df[['state','family_members']]

# sonucun bas kismini yazdiriniz
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

9.

In [34]:
# individuals ve state columns degiskenlerini seciniz:  ind_state
ind_state = df[['individuals','state']]

# sonucun bas kismini yazdiriniz
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

10. df[ df['variable'] > 99 ]

In [35]:
# individuals degerinin  10000  den fazla oldugu gozlemleri seciniz:  ind_buyuk_10k
ind_buyuk_10k = df[ df['individuals'] > 10000 ]

# ind_buyuk_10k u yazdiriniz
print(ind_buyuk_10k)

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666
47             Pacific  Washington      16424.0          5880.0    7523869

11. df[ df['variable']=='example' ]

In [175]:
#  region degiskeni  Mountain  olan gozlemleri deciniz:  mountain_reg
mountain_reg = df[  df['region']=='Mountain'  ]

# sonucu gorelim
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

12. df[(df["variable1"] < 99) & (df["variable2"] == "example")]

In [38]:
# family_members degeri 1000 den kucuk olan ve region i Pacific  olan gozlemleri seciniz: fam_buyuk_1k_pac
fam_buyuk_1k_pac = df[    (df["family_members"] < 1000) & (df["region"] == "Pacific")    ]

# sonucu gorelim
print(fam_buyuk_1k_pac)

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

13.

colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]

In [176]:
# region degiskeni   South Atlantic  veya  Mid-Atlantic  olan gozlemleri seciniz:  south_mid_atlantic
south_mid_atlantic = df[   df['region'].isin(['South Atlantic','Mid-Atlantic'])   ]

# gorelim
print(south_mid_atlantic)

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware        708.0           374.0
8   South Atlantic  District of Columbia       3770.0          3134.0
9   South Atlantic               Florida      21443.0          9587.0
10  South Atlantic               Georgia       6943.0          2556.0
20  South Atlantic              Maryland       4914.0          2230.0
30    Mid-Atlantic            New Jersey       6048.0          3350.0
32    Mid-Atlantic              New York      39827.0         52070.0
33  South Atlantic        North Carolina       6451.0          2817.0
38    Mid-Atlantic          Pennsylvania       8163.0          5349.0
40  South Atlantic        South Carolina       3082.0           851.0
46  South Atlantic              Virginia       3928.0          2047.0
48  South Atlantic         West Virginia       1021.0           222.0

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291

14. df[df['column'].isin(a_list)]

In [50]:
cities = ["California", "Arizona", "Nevada", "Utah"]

# state degiskeni  cities  listesinin icinde olan gozlemleri seciniz/filtreleyiniz:  cities_df
cities_df = df[   df['state'].isin(cities)     ]

# gorelim
print(cities_df)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

15.

In [177]:
# individuals  ve  family_members  degiskenlerinin toplamini belirten  total  adli bir degisken ekleyiniz
df['total'] = df['individuals'] + df['family_members']

# tek yasayan evsizlerin tum evsizlere olan oranini belirten bir degisken ekleyiniz: o_individuals
# bunu  individuals / total ile bulabiliriz:
df['o_individuals'] = df['individuals'] / df['total']

# df.head() in son hali:
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total  o_individuals
0    3434.0       0.748398
1    2016.0       0.711310
2    9865.0       0.735834
3    2712.0       0.840708
4  129972.0       0.838704

16.

In [53]:
# tek yasayan evsizlerin sehir populasyonuna oranini bulunuz, bu kisi basi kac tane evsiz oldugu anlamina gelir
# bu orani 10000 ile carparsak 10000 kiside kac tane evsiz vardir buna ulasiriz
# bu bilgiyi  indiv_per_10k  degisken adi ile df e ekleyiniz
df["indiv_per_10k"] = 10000 * df['individuals'] / df['state_pop'] 

# 10000 kiside 20 den fazla evsizin bulundugu sehirleri seciniz/filtreleyiniz, yeni df yi  high_df  adi ile kaydediniz
high_df = df[    df["indiv_per_10k"] > 20     ]

# high_df  dataframeini  indiv_per_10k  degiskenine gore buyukten kucuge dogru siralayiniz: high_df_srt
high_df_srt = high_df.sort_values(['indiv_per_10k'], ascending=False)

# high_df_srt  dataframinin  state  ve  indiv_per_10k   degiskenlerini seciniz: sonuc
sonuc = high_df_srt[['state','indiv_per_10k']]

# gorelim
print(sonuc)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

## Aggregating

### ozet istatistikler

In [161]:
# !!!  yukaridaki dataframe i df olarak kaydettik, buradaki dataframe i farkli bir isimle kaydedelim:
satislar = pd.read_pickle("walmart_sales.pkl")

17. .mean()  .median()

In [77]:
# print satislar head()
print(satislar.head())

# Print satislar info()
print(satislar.info())

# weekly_sales degiskeninin ortalamasini yazdiriniz:
print(satislar['weekly_sales'].mean())

#  weekly_sales degiskeninin ortanca degerini yazdiriniz: 
print(satislar.weekly_sales.median())

   store type  department       date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1 2010-02-05      24924.50       False       5.727778
1      1    A           2 2010-02-05      50605.27       False       5.727778
2      1    A           3 2010-02-05      13740.12       False       5.727778
3      1    A           4 2010-02-05      39954.04       False       5.727778
4      1    A           5 2010-02-05      32229.38       False       5.727778

   fuel_price_usd_per_l  unemployment
0              0.679451         8.106
1              0.679451         8.106
2              0.679451         8.106
3              0.679451         8.106
4              0.679451         8.106
<class 'pandas.core.frame.DataFrame'>
Int64Index: 413119 entries, 0 to 413118
Data columns (total 9 columns):
store                   413119 non-null int64
type                    413119 non-null object
department              413119 non-null int32
date                    413119 non-null datetime64[ns]
weekly_sales            413119 non-null float64
is_holiday              413119 non-null bool
temperature_c           413119 non-null float64
fuel_price_usd_per_l    413119 non-null float64
unemployment            413119 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(4), int32(1), int64(1), object(1)
memory usage: 27.2+ MB
None
16094.726811185497
7682.47

18. .min()  .max()

In [78]:
# son satilan urun hangi tarihte satilmistir
print(satislar.date.max())

# ilk satilan urun hangi tarihte satilmistir
print(satislar.date.min())

2012-10-26 00:00:00
2010-02-05 00:00:00

19. .quantile(0.25)   .quantile(0.75)

df.column.agg(function)

df['column1','column2','column3'].agg(['function1','function2'])

In [79]:
# kendi tanimladigimiz bir IQR fonk u:
def iqr(kolon):
    """"Bu fonk, gelen kolonlarin 3.ceyrek degeri ile 1.ceyrek degeri arasindaki farki geri dondurur"""
    return kolon.quantile(0.75) - kolon.quantile(0.25)
    
# satis dataframe inin  temperature_c  degiskeninin  IQR  degerini yazdiriniz
# DIKKAT! : bir fonk agg() ile kullanilinca () ve parametre kullanilmaz. 
# agg(fonk)  seklinde yazildiginda parametresini otomatik alir
print(satislar['temperature_c'].agg(iqr))

15.299999999999994

In [80]:
# yukaaridaki gibi  temperature_c,  fuel_price_usd_per_l  ve  unemployment   degiskenlerinin IQR degerlerini yazdiriniz
print(satislar[["temperature_c","fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           15.300000
fuel_price_usd_per_l     0.211866
unemployment             1.672000
dtype: float64

In [81]:
import numpy as np
# yukaridaki kodu editleyip, iqr fonksiyonu ile birlikte np.median fonk unu da aggregate ediniz
print(satislar[["temperature_c","fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr             15.30              0.211866         1.672
median          16.75              0.911922         7.852

### Kumulatif islemler

20. .cumsum() .cummax()

In [92]:
# store 1 ve department 1 secilip ilk 20 gozlem uzerinde calisalim:
satislar1 = satislar[  np.logical_and( satislar['store']==1 , satislar['department']==1 )  ]
satislar1 = satislar1[:20]

In [179]:
satislar1.head(10)

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,cum_weekly_sales,cum_max_sales
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106,24924.50,24924.50
73,1,A,1,2010-02-12,46039.49,True,3.616667,0.673111,8.106,70963.99,46039.49
145,1,A,1,2010-02-19,41595.55,False,4.405556,0.664129,8.106,112559.54,46039.49
218,1,A,1,2010-02-26,19403.54,False,8.127778,0.676545,8.106,131963.08,46039.49
290,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106,153790.98,46039.49
363,1,A,1,2010-03-12,21043.39,False,14.327778,0.704547,8.106,174834.37,46039.49
436,1,A,1,2010-03-19,22136.64,False,12.544444,0.718548,8.106,196971.01,46039.49
508,1,A,1,2010-03-26,26229.21,False,10.805556,0.721718,8.106,223200.22,46039.49
580,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808,280458.65,57258.43
652,1,A,1,2010-04-09,42960.91,False,18.811111,0.731757,7.808,323419.56,57258.43

In [94]:
# satislar i date e gore siralayiniz ve kaydediniz.
satislar1 = satislar1.sort_values('date')

# satislar1 i weekly_sales e gore kumulatif toplamini aliniz ve 
# cum_weekly_sales adiyla yeni bir degisken olarak atayiniz
satislar1['cum_weekly_sales'] = satislar1.weekly_sales.cumsum()

# satislar1 i weekly_sales e gore kumulatif max ini aliniz ve 
# cum_max_sales adiyla yeni bir degisken olarak atayiniz
satislar1['cum_max_sales'] = satislar1.weekly_sales.cummax()

# ilgili degiskenleri secip yazdiriniz
print(satislar1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

           date  weekly_sales  cum_weekly_sales  cum_max_sales
0    2010-02-05      24924.50          24924.50       24924.50
73   2010-02-12      46039.49          70963.99       46039.49
145  2010-02-19      41595.55         112559.54       46039.49
218  2010-02-26      19403.54         131963.08       46039.49
290  2010-03-05      21827.90         153790.98       46039.49
363  2010-03-12      21043.39         174834.37       46039.49
436  2010-03-19      22136.64         196971.01       46039.49
508  2010-03-26      26229.21         223200.22       46039.49
580  2010-04-02      57258.43         280458.65       57258.43
652  2010-04-09      42960.91         323419.56       57258.43
725  2010-04-16      17596.96         341016.52       57258.43
798  2010-04-23      16145.35         357161.87       57258.43
870  2010-04-30      16555.11         373716.98       57258.43
941  2010-05-07      17413.94         391130.92       57258.43
1013 2010-05-14      18926.74         410057.66       57258.43
1085 2010-05-21      14773.04         424830.70       57258.43
1155 2010-05-28      15580.43         440411.13       57258.43
1225 2010-06-04      17558.09         457969.22       57258.43
1296 2010-06-11      16637.62         474606.84       57258.43
1367 2010-06-18      16216.27         490823.11       57258.43

Bu soruda, satislar verisini tarihe gore siraladik, her hafta o haftaya kadar olan toplam satisi hesapladik, ve her hafta o haftaya kadar gecen haftalar icindeki max satisi mevcut haftaya yazdik.

21.

In [144]:
satislar2 = satislar[['store','type','department','is_holiday']]

# store degiskeni tekrar eden gozlemleri teke dusurunuz:  store
store = satislar2.drop_duplicates(['store'])
print(store.head())

# store/type ikilisi olarak tekrar eden gozlemleri teke dusurunuz:  store_types
store_types = satislar2.drop_duplicates(['store','type'])
print(store_types.head())

# store/department ikilisi olarak tekrar eden gozlemleri teke dusurunuz:  store_depts
store_depts = satislar2.drop_duplicates(['store','department'])
print(store_depts.head())

       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
   store type  department  is_holiday
0      1    A           1       False
1      1    A           2       False
2      1    A           3       False
3      1    A           4       False
4      1    A           5       False

22.

In [180]:
if store_types.shape == store.shape:
    print("Tek Magazada iki fakli satis tipi yoktur")

    
if store_depts.shape == store.shape:
    print("\n\n Tek Magazada iki fakli departman yoktur\n")
else:
    print("\n\nTek Magazada iki fakli departman vardir\n")

Tek Magazada iki fakli satis tipi yoktur


Tek Magazada iki fakli departman vardir

23.

In [145]:
# satislar in tatil olan gozlemlerini seciniz ve bunlar uzerinde date e gore tekrar edenleri teke dusurunuz (unique)
# satislar_tatil adi ile kaydediniz
satislar_tatil = satislar[  satislar['is_holiday']==True   ].drop_duplicates('date')

# tatil iken haftalik satislari yazdiriniz
print(satislar_tatil[['date','weekly_sales']])

           date  weekly_sales
73   2010-02-12      46039.49
2218 2010-09-10      18194.74
3014 2010-11-26      18820.29
3372 2010-12-31      19124.58
3800 2011-02-11      37887.17
5940 2011-09-09      17746.68
6731 2011-11-25      20911.25
7096 2011-12-30      23350.88
7527 2012-02-10      36988.49
9667 2012-09-07      18322.37

24.

In [141]:
print(len(store))
store.head()

45

       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False

In [142]:
print(len(store_types))
store_types.head()

45

       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False

In [143]:
print(len(store_depts))
store_depts.head()

3266

   store type  department  is_holiday
0      1    A           1       False
1      1    A           2       False
2      1    A           3       False
3      1    A           4       False
4      1    A           5       False

In [146]:
# Tipine gore magaza sayilari
store_counts = store['type'].value_counts()
print(store_counts)

A    22
B    17
C     6
Name: type, dtype: int64

In [149]:
# Tipine gore magaza oranlari
store_props = store['type'].value_counts(normalize=True)
print(store_props)

A    0.488889
B    0.377778
C    0.133333
Name: type, dtype: float64

In [155]:
# Tipine gore magazalarin departman sayilari, sirali: 
dept_counts_sorted = store_depts['department'].value_counts(sort=True)
print(dept_counts_sorted)

1     45
9     45
4     45
6     45
8     45
      ..
37    20
50    14
43     5
39     5
65     1
Name: department, Length: 81, dtype: int64

45 magazada departman1 varmis
45 magazada departman9 varmis
...
sadece 1 tane magazada departman65 varmis

In [157]:
# yukaridaki sonucun oransal degerleri ve siralanmis hali
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

1     0.013778
9     0.013778
4     0.013778
6     0.013778
8     0.013778
        ...
37    0.006124
50    0.004287
43    0.001531
39    0.001531
65    0.000306
Name: department, Length: 81, dtype: float64

25.

In [183]:
# Haftalik satislarin tumunun toplami:
satislar_hepsi = satislar["weekly_sales"].sum()

# A tipinde olan magaazalarin tumunun hafalik satislari toplami:
satislar_A = satislar[    satislar["type"] == "A"   ]["weekly_sales"].sum()

# Subset for type B stores, calc total weekly sales
satislar_B = satislar[satislar["type"] == "B"]["weekly_sales"].sum()

# Subset for type C stores, calc total weekly sales
satislar_C = satislar[satislar["type"] == "C"]["weekly_sales"].sum()

print([satislar_A, satislar_B, satislar_C])


# Get proportion for each type
satislarin_oranlari = [satislar_A, satislar_B, satislar_C] / satislar_hepsi
print(satislarin_oranlari)

[4331014722.749999, 1912519195.2199998, 405503527.53999996]
[0.65137469 0.28763851 0.0609868 ]

26.

In [182]:
# type a gore guruplayiniz, magaza tiplerinin haftalik satis toplamlarinin bulunuz
satislar_tipe_gore = satislar.groupby("type")["weekly_sales"].sum()
print( satislar_tipe_gore )


# satis miktarlarini (uc tane) toplamlarina bolerek oranlarini bulunuz
satislar_orani = satislar_tipe_gore/sum(satislar_tipe_gore)
print(satislar_orani)

type
A    4.331015e+09
B    1.912519e+09
C    4.055035e+08
Name: weekly_sales, dtype: float64
type
A    0.651375
B    0.287639
C    0.060987
Name: weekly_sales, dtype: float64

In [166]:
# type ve tatil durumuna a gore guruplayiniz, haftalik satislarin toplamini bulunuz
satislar_tip_ve_tatile_gore = satislar.groupby(['type','is_holiday'])['weekly_sales'].sum()
print(satislar_tip_ve_tatile_gore)

type  is_holiday
A     False         4.007612e+09
      True          3.234028e+08
B     False         1.765411e+09
      True          1.471081e+08
C     False         3.772478e+08
      True          2.825570e+07
Name: weekly_sales, dtype: float64